.App {
  text-align: center;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-list-item {
  margin: auto 20px;
  list-style: none;
}

.nav-list-item:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.detailCardContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.cont {
  display: flex;
  flex-direction: column;
  
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}